<div class="row">
    <div class="col s8 offset-s2">
        <div class="card">
            <div class="sm-jumbotron center-align">
                <h2>CADASTRO</h2>
            </div>
            <form class="col s12 white" #clienteRegistrationForm="ngForm">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="Nome">
                        <label>NOME</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="Email">
                        <label>EMAIL</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="Date" name="DataNascimento">
                        <label>DATA DE NASCIMENTO</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="Cpf">
                        <label>CPF</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" name="Endereco">
                        <label>ENDEREÇO</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="Password" name="Senha">
                        <label>SENHA</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="Password" name="Confirme">
                        <label>CONFIRME</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn-large btn-submit" type="submit">SALVAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>